#intro {
  position: fixed;
  // 주석 풀기
  // z-index: 1000;
  // width: 1920px;
  // height: 100vh;
  overflow: hidden;
  top: 0 !important;
  background: $black;
  #intro_video {
    height: 100vh;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    top: 0;
    overflow: hidden;
    filter: grayscale(100%);
  }

  .tit {
    width: 460px;
    position: absolute;
    top: 45%;
    left: calc(100vw / 2);
    transform: translateX(-50%);
    text-align: center;
  }

  .txt1 {
    @include tit(54px);
    color: $white;
    margin-bottom: 20px;
  }

  .txt2 {
    @include cont(20px);
    line-height: 120%;
    color: $white;
  }
  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 10%;
    left: calc(100vw / 2);
    transform: translateX(-50%);
  }
  .btn-icon {
    width: 70px;
    height: 70px;
    background: url(../images/intro/intro-button-white@4x.png) no-repeat 50% 50% /
      cover;
  }
  .btn-desc {
    @include cont(14px);
    color: $white;
  }
}

#scene01 {
  position: relative;
  height: 250vh;
  background: url(../images/sect1/buildings-with-lights-landscape-high-angle.jpg)
    no-repeat 50% 50% / 200%;
  z-index: 10;

  &:after {
    display: block;
    content: "";
    height: 250vh;
    width: 100%;
    background: rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(0.5px);
    position: absolute;
    top: 0;
    left: 0;
  }

  .inner1 {
    height: auto;
    width: auto;
    position: relative;
    top: 200px;
    display: flex;
  }
  .inner2 {
    height: auto;
    width: auto;
    position: relative;
    top: 50vh;
    display: flex;
  }
  .content1,
  .content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include cont(18px);
    @include posRel;
    margin-left: auto;
  }
  .content2 {
    margin-right: auto;
  }
  .poster1 {
    width: 490px;
    height: 617px;
    background: url(../images/sect1/휘트니2.png) no-repeat 0 0 / contain;
    @include posRel;
  }
  .poster2 {
    width: 550px;
    height: 690px;
    background: url(../images/sect1/릴리로즈2.png) no-repeat 0 0 / contain;
    @include posRel;
  }
  .highlight {
    width: 480px;
    height: 100px;
    background: url(../images/sect1/by-white.png) no-repeat -30px 57% / cover;
  }
}

#scene02 {
  #scene02_video {
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: 0.6;
  }
  .trigger-box-2 {
    z-index: 1;
  }
  .page01 {
    @include page01("../images/sect2/jennie.png");
  }
  .page02 {
    width: 900px;
    position: relative;

    .butterfly1 {
      position: absolute;
      top: 40%;
      left: -1%;
      width: 253px;
      height: 273px;
      background: url(../images/sect2/butterfly3-white.png) no-repeat 0 0 /
        cover;
      opacity: 0.8;
    }
    .butterfly2 {
      position: absolute;
      top: 60%;
      left: -17%;
      width: 340px;
      height: 330px;
      background: url(../images/sect2/butterfly2-white.png) no-repeat 0 0 /
        cover;
      opacity: 0.5;
    }
  }
  .page03 {
    width: 3500px;
    // width: 240vw;
    position: relative;
    background: $black;
    .old-house {
      position: absolute;
      // z-index: -1;
      top: 58%;
      // left: -280px;
      width: 597px;
      height: 420px;
      background: url(../images/sect2/한옥-white.png) no-repeat 0 0 / cover;
      opacity: 0.3;
    }
    .jennie-img02 {
      width: 970px;
      height: 628px;
      background: url(../images/sect2/제니2.png) no-repeat 0 0 / cover;
      margin-left: 600px;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 220px;
        height: 236px;
        background: url(../images/sect2/butterfly3-white.png) no-repeat 0 0 /
          cover;
        opacity: 0.8;
        transform: scaleX(-1);
        position: absolute;
        top: 0;
        left: -200px;
      }
    }
    .set {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 800px;
      position: absolute;
      top: 10px;
      left: 1990px;
      justify-content: end;
      gap: 20px;
      padding-bottom: 100px;
    }
    .cont {
      @include tit-it(24px);
    }
    .jennie-img03 {
      width: 680px;
      height: 380px;
      background: url(../video/JENNIE-trim02.gif) no-repeat 0 0 / cover;
    }
    #jennie-img03 {
      height: 49vw;
      width: 49vw;
      // height: 800px;
      // width: 800px;
      position: absolute;
      top: 0;
      right: -2%;
      transform: translateY(calc(100vh / 2 + -50%));
    }
    .txt-deco {
      position: absolute;
      bottom: 70px;
      left: 100px;
      width: 715px;
      height: 220px;
      transform: rotate(8deg);
      // width: 545px;
      // height: 180px;
      // transform: rotate(10deg);
      background: url(../images/sect2/yeah.png) no-repeat 0 0 / cover;
    }
  }
}

#scene03 {
  height: 4800px;
  #scene03_video {
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: 0;
  }
  .trigger-box-3 {
    position: relative;
    z-index: 1;
  }
  .page01 {
    @include page01("../images/sect3/lilyrose.png");
    .deco {
      right: -139px;
      width: 240px;
    }
  }
  .page01-2 {
    width: 900px;
  }
  .page02 {
    width: 100vw;
    position: relative;
    background: url(../images/sect3/lilyrose02.png) no-repeat 0 0 / cover;
    .rose1 {
      position: absolute;
      top: 40%;
      left: -22%;
      width: 303px;
      height: 292px;
      background: url(../images/sect3/channel-flower-white@4x.png) no-repeat 0 0 /
        cover;
      opacity: 0.8;
    }
    .rose2 {
      position: absolute;
      top: 66%;
      left: -6%;
      width: 283px;
      height: 273px;
      background: url(../images/sect3/channel-flower-white@4x.png) no-repeat 0 0 /
        cover;
      transform: rotate(43deg) scale(0.8);
      opacity: 0.8;
    }
    .lily-img01 {
      position: absolute;
      top: 100px;
      // top: 50%;
      // transform: translateY(-50%);
      left: 84%;
      z-index: 1;
      width: 800px;
      height: 500px;
      background: url(../images/sect3/lilyrose01.png) no-repeat 0 0 / cover;
    }
  }
  .page03 {
    width: 2300px;
    position: relative;
    background: $black;
    .set {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 800px;
      position: absolute;
      top: 10px;
      left: 800px;
      justify-content: end;
      gap: 20px;
      padding-bottom: 100px;
    }
    .cont {
      @include tit-it(24px);
    }
    .lily-img02 {
      width: 680px;
      height: 380px;
      background: url(../video/lily-trim01.gif) no-repeat 0 0 / cover;
    }
    #lily-img03 {
      height: 49vw;
      width: 49vw;
      position: absolute;
      top: 0;
      right: -2%;
      transform: translateY(calc(100vh / 2 + -50%));
    }
  }
}

#scene04 {
  #scene04_video {
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: 0;
  }
  .trigger-box-2 {
    z-index: 1;
    position: relative;
  }
  .page01 {
    @include page01("../images/sect4/whitney.png");
    .deco {
      right: -123px;
      width: 221px;
      height: 124px;
    }
  }
  .page02 {
    width: 900px;
    position: relative;

    .emoji1 {
      position: absolute;
      top: 40%;
      left: -1%;
      width: 253px;
      height: 273px;
      background: url(../images/sect2/butterfly3-white.png) no-repeat 0 0 /
        cover;
      opacity: 0.8;
    }
    .emoji2 {
      position: absolute;
      top: 60%;
      left: -17%;
      width: 340px;
      height: 330px;
      background: url(../images/sect2/butterfly2-white.png) no-repeat 0 0 /
        cover;
      opacity: 0.5;
    }
  }
  .page03 {
    width: 3500px;
    padding-left: 300px;
    position: relative;
    background: $black;
    // .txt-deco {
    //   width: 1387px;
    //   height: 90px;
    //   background: url(../images/sect4/txt-deco.png) no-repeat 0 0 / cover;
    // }
    .whitney-img01 {
      width: 620px;
      height: 100vh;
      background: url(../images/sect4/whitney01.png) no-repeat 70% 0 / cover;
    }
    .whitney-img02 {
      width: 964px;
      height: 542px;
      background: url(../images/sect4/whitney02.png) no-repeat 70% 0 / cover;
      position: absolute;
      bottom: 70px;
      left: 780px;
    }
    .set {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 800px;
      position: absolute;
      top: 10px;
      left: 1990px;
      justify-content: start;
      gap: 20px;
      padding-top: 100px;
    }
    .cont {
      @include tit-it(24px);
    }
    .whitney-img03 {
      width: 680px;
      height: 380px;
      background: url(../video/whitney-trim01.gif) no-repeat 0 0 / cover;
    }
    #whitney-img04 {
      height: 49vw;
      width: 49vw;
      // height: 800px;
      // width: 800px;
      position: absolute;
      top: 0;
      right: -2%;
      transform: translateY(calc(100vh / 2 + -50%));
    }
    .txt-deco {
      position: absolute;
      z-index: 2;
      bottom: 115px;
      left: 50px;
      width: 1145px;
      height: 220px;
      transform: rotate(2deg);
      // width: 545px;
      // height: 180px;
      // transform: rotate(10deg);
      background: url(../images/sect4/txt-deco.png) no-repeat 0 0 / cover;
    }
  }
}
