@import "variables", "mixins", "fonts", "reset";
// @import 뒤로 갈수록 우선순위가 높아짐 >> 위의 import에서는 reset의 우선순위가 가장 높음
// 하지만 content 밑에 @import를 넣어주면 밑에 있는 import의 우선순위가 더 높아짐
// reset을 그대로 적용하고 싶지 않을 수도 있으므로 각 페이지마다 scss를 만들어서 우선순위를 높여주면 됨 >> content 밑에 import 해줌

.wrap {
  margin: 0;
  overflow: hidden;
  background: $black;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}
#header {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 100;
  margin: 0 4.16vw;
  padding: 20px 0;
  .wrap {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: end;
    background: transparent;
  }
  // position: relative;
  #logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu {
    position: absolute;
    right: 0;
    width: 70px;
    height: 10px;
    transform: translateY(100%);
    background: url(../images/comm/menu-bar@4x.png) no-repeat 50% 50% / cover;
    cursor: pointer;
  }

  #gnb {
    opacity: 0;
    position: fixed;
    height: 100vh;
    top: 0;
    // top: -100%;
    left: 0;
    right: 0;
    z-index: 50;

    #scene {
      width: 100vw;
      height: 100vh;
    }
    .layer {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .background {
      position: absolute;
      width: 110%;
      height: 110%;
      left: -5%;
      top: -5%;
      background: url(../images/comm/릴리로즈.png) no-repeat 50% 50% / cover;
    }

    .inner {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: 110;
    }
    .menu-li {
      position: absolute;
      top: 0;
      z-index: 1000;
      transform: translateY(-50%);
    }
    .menu-li-item {
      line-height: 500%;
      width: fit-content;
      a {
        @include tit(90px);
        transition: all 0.5s;
        &:after {
          content: "";
          display: block;
          height: 8px;
          width: 100%;
          position: relative;
          top: -20px;
          background-color: #7cf8e8;
          transform: scaleX(0%);
          transition: all 0.5s;
          transform-origin: left;
        }
        &:hover {
          color: #7cf8e8;
          &:after {
            transform: scaleX(100%);
          }
        }
      }
    }
  }
}

#scene02,
#scene03,
#scene04,
#scene05 {
  width: 100vw;
  position: relative;
  height: 1000vh;
  background: $black;

  .trigger-box-2,
  .trigger-box-3,
  .trigger-box-4,
  .trigger-box-5 {
    height: 100%;
    width: 100%;
  }
  .fix-box-2,
  .fix-box-3,
  .fix-box-4,
  .fix-box-5 {
    height: 100vh;
    display: flex;
  }
  .page {
    height: 100vh;
    flex-shrink: 0;
    width: 100vw;
    position: relative;
  }
}

@import "main", "sub1", "sub2";

// 밑에 @import를 적어주면 우선순위가 위 import 보다 높아짐

// ----------------------참고----------------------
// scss파일 명 앞에 언더바(_)를 적어주면 css로 컴파일되지 않음
// 특히 import할 파일에 대해
// import할 때는 파일명에 언더바 적어주지 않기
