@import "variables", "mixins", "fonts", "reset";
// @import 뒤로 갈수록 우선순위가 높아짐 >> 위의 import에서는 reset의 우선순위가 가장 높음
// 하지만 content 밑에 @import를 넣어주면 밑에 있는 import의 우선순위가 더 높아짐
// reset을 그대로 적용하고 싶지 않을 수도 있으므로 각 페이지마다 scss를 만들어서 우선순위를 높여주면 됨 >> content 밑에 import 해줌

body {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(124, 248, 232);
    border-radius: 10px;
    background-clip: padding-box;
    &:hover {
      background-color: #28d1bb;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
}

#scrollBox {
  height: 100%;
  position: relative;
}

.wrap {
  margin: 0;
  overflow: hidden;
  height: 100%;
  position: relative;
  background: $black;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}
#header {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 100;
  margin: 0 4.16vw;
  padding: 20px 0;
  .wrap {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: end;
    background: transparent;
  }
  // position: relative;
  #logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menu {
    position: absolute;
    right: 0;
    width: 70px;
    height: 10px;
    transform: translateY(100%);
    background: url(../images/comm/menu-bar@4x.png) no-repeat 50% 50% / cover;
    cursor: pointer;
  }

  #gnb {
    display: none;
    opacity: 0;
    position: fixed;
    height: 100vh;
    top: 0;
    // top: -100%;
    left: 0;
    right: 0;
    z-index: 50;

    #scene {
      width: 100vw;
      height: 100vh;
    }
    .layer {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .background {
      position: absolute;
      width: 110%;
      height: 110%;
      left: -5%;
      top: -5%;
      background: url(../images/comm/릴리로즈.png) no-repeat 50% 50% / cover;
    }

    .inner {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      z-index: 60;
    }
    .menu-li {
      position: absolute;
      top: 0;
      z-index: 1000;
      transform: translateY(-50%);
    }
    .menu-li-item {
      line-height: 500%;
      width: fit-content;
      a {
        @include tit(4.687vw);
        transition: all 0.5s;
        &:after {
          content: "";
          display: block;
          height: 8px;
          width: 100%;
          position: relative;
          top: -20px;
          background-color: #7cf8e8;
          transform: scaleX(0);
          transition: all 0.5s;
          transform-origin: left;
        }
        &:hover {
          color: #7cf8e8;
          &:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

#scene02,
#scene03,
#scene04,
#scene05 {
  width: 100vw;
  position: relative;
  height: 1000vh;
  background: $black;

  .trigger-box-2,
  .trigger-box-3,
  .trigger-box-4,
  .trigger-box-5 {
    height: 100%;
    width: 100%;
  }
  .fix-box-2,
  .fix-box-3,
  .fix-box-4,
  .fix-box-5 {
    height: 100vh;
    display: flex;
  }
  .page {
    height: 100vh;
    flex-shrink: 0;
    width: 100vw;
    position: relative;
  }
}

#cursor {
  position: fixed;
  z-index: 1001;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: 0%;
  left: 0%;
  border: 2px solid #7cf8e8;
  background: transparent;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, border-width 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out, background 0.3s ease-in-out,
    border 0.3s ease-in-out;
  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: #7cf8e8;
    top: calc(50% - 1px);
    left: 14px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: 0.3s;
    transform-origin: right;
    transform: scaleY(0) rotate(0deg);
    z-index: 9;
  }
  &.linkhover {
    border-color: transparent;
    border-width: 4px;
    background: #7cf8e8;
  }
  &.active {
    background: $black;
    border: $black;

    &:before,
    &:after {
      transition-delay: 0.6s;
    }
    &:before {
      transform: scaleY(1) rotate(-45deg);
    }
    &:after {
      transform: scaleY(1) rotate(45deg);
    }
    strong {
      &:before {
        transform: scaleX(1);
        transition-delay: 0.3s;
      }
    }
  }
}

strong.circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 1;
  margin: 0;
  transition: 0.3s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #7cf8e8;
    top: calc(50% - 1px);
    left: 5px;
    transition: 0.3s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
    transition-delay: 0.6s;
  }
}

@import "main", "sub1", "sub2";

// 밑에 @import를 적어주면 우선순위가 위 import 보다 높아짐

// ----------------------참고----------------------
// scss파일 명 앞에 언더바(_)를 적어주면 css로 컴파일되지 않음
// 특히 import할 파일에 대해
// import할 때는 파일명에 언더바 적어주지 않기
