@charset "UTF-8";
@font-face {
  font-family: "couture";
  font-weight: 700;
  src: url(../fonts/couture/couture-bld.woff) format("woff");
}
@font-face {
  font-family: "couture-it";
  font-weight: 700;
  src: url(../fonts/couture/couture-bldit.woff) format("woff");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-light";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-thin";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
  cursor: none;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #fff;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(124, 248, 232);
  border-radius: 10px;
  background-clip: padding-box;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #28d1bb;
}
body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

#scrollBox {
  height: 100%;
  position: relative;
}

.wrap {
  margin: 0;
  overflow: hidden;
  height: 100%;
  position: relative;
  background: #000;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

#header {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 100;
  margin: 0 4.16vw;
  padding: 20px 0;
}
#header .wrap {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: end;
  background: transparent;
}
#header #logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#header .menu {
  position: absolute;
  right: 0;
  width: 70px;
  height: 10px;
  transform: translateY(100%);
  background: url(../images/comm/menu-bar@4x.png) no-repeat 50% 50%/cover;
  cursor: pointer;
}
#header #gnb {
  display: none;
  opacity: 0;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
#header #gnb #scene {
  width: 100vw;
  height: 100vh;
}
#header #gnb .layer {
  position: relative;
  width: 100%;
  height: 100%;
}
#header #gnb .background {
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  background: url(../images/comm/릴리로즈.png) no-repeat 50% 50%/cover;
}
#header #gnb .inner {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 60;
}
#header #gnb .menu-li {
  position: absolute;
  top: 0;
  z-index: 1000;
  transform: translateY(-50%);
}
#header #gnb .menu-li-item {
  line-height: 500%;
  width: -moz-fit-content;
  width: fit-content;
}
#header #gnb .menu-li-item a {
  font-family: "couture";
  font-size: 4.687vw;
  color: #fff;
  transition: all 0.5s;
}
#header #gnb .menu-li-item a:after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: relative;
  top: -20px;
  background-color: #7cf8e8;
  transform: scaleX(0);
  transition: all 0.5s;
  transform-origin: left;
}
#header #gnb .menu-li-item a:hover {
  color: #7cf8e8;
}
#header #gnb .menu-li-item a:hover:after {
  transform: scaleX(1);
}

#scene02,
#scene03,
#scene04,
#scene05 {
  width: 100vw;
  position: relative;
  height: 1000vh;
  background: #000;
}
#scene02 .trigger-box-2,
#scene02 .trigger-box-3,
#scene02 .trigger-box-4,
#scene02 .trigger-box-5,
#scene03 .trigger-box-2,
#scene03 .trigger-box-3,
#scene03 .trigger-box-4,
#scene03 .trigger-box-5,
#scene04 .trigger-box-2,
#scene04 .trigger-box-3,
#scene04 .trigger-box-4,
#scene04 .trigger-box-5,
#scene05 .trigger-box-2,
#scene05 .trigger-box-3,
#scene05 .trigger-box-4,
#scene05 .trigger-box-5 {
  height: 100%;
  width: 100%;
}
#scene02 .fix-box-2,
#scene02 .fix-box-3,
#scene02 .fix-box-4,
#scene02 .fix-box-5,
#scene03 .fix-box-2,
#scene03 .fix-box-3,
#scene03 .fix-box-4,
#scene03 .fix-box-5,
#scene04 .fix-box-2,
#scene04 .fix-box-3,
#scene04 .fix-box-4,
#scene04 .fix-box-5,
#scene05 .fix-box-2,
#scene05 .fix-box-3,
#scene05 .fix-box-4,
#scene05 .fix-box-5 {
  height: 100vh;
  display: flex;
}
#scene02 .page,
#scene03 .page,
#scene04 .page,
#scene05 .page {
  height: 100vh;
  flex-shrink: 0;
  width: 100vw;
  position: relative;
}

#cursor {
  position: fixed;
  z-index: 1001;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  top: 0%;
  left: 0%;
  border: 2px solid #7cf8e8;
  background: transparent;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out, border-width 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out, border 0.3s ease-in-out;
}
#cursor:before, #cursor:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #7cf8e8;
  top: calc(50% - 1px);
  left: 14px;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.3s;
  transform-origin: right;
  transform: scaleY(0) rotate(0deg);
  z-index: 9;
}
#cursor.linkhover {
  border-color: transparent;
  border-width: 4px;
  background: #7cf8e8;
}
#cursor.active {
  background: #000;
  border: #000;
}
#cursor.active:before, #cursor.active:after {
  transition-delay: 0.6s;
}
#cursor.active:before {
  transform: scaleY(1) rotate(-45deg);
}
#cursor.active:after {
  transform: scaleY(1) rotate(45deg);
}
#cursor.active strong:before {
  transform: scaleX(1);
  transition-delay: 0.3s;
}

strong.circle {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 1;
  margin: 0;
  transition: 0.3s ease-in-out;
}
strong.circle:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #7cf8e8;
  top: calc(50% - 1px);
  left: 5px;
  transition: 0.3s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
  transition-delay: 0.6s;
}

#intro {
  position: fixed;
  z-index: 1000;
  width: 1920px;
  height: 100vh;
  overflow: hidden;
  top: 0 !important;
  background: #000;
}
#intro #intro_video {
  height: 100vh;
  position: absolute;
  left: 50%;
  margin-left: -960px;
  top: 0;
  overflow: hidden;
  filter: grayscale(100%);
}
#intro .tit {
  width: 460px;
  position: absolute;
  top: 45%;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
}
#intro .txt1 {
  font-family: "couture";
  font-size: 54px;
  color: #fff;
  color: #fff;
  margin-bottom: 20px;
}
#intro .txt2 {
  font-family: "Pretendard-light";
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  line-height: 120%;
  color: #fff;
}
#intro .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 10%;
  left: 50vw;
  transform: translateX(-50%);
}
#intro .btn-icon {
  width: 70px;
  height: 70px;
  background: url(../images/intro/intro-button-white@4x.png) no-repeat 50% 50%/cover;
}
#intro .btn-desc {
  font-family: "Pretendard-light";
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  color: #fff;
}

#scene01 {
  position: relative;
  height: 250vh;
  background-attachment: fixed;
  background: url(../images/sect1/buildings-with-lights-landscape-high-angle.jpg) no-repeat 50% 50%/200%;
  z-index: 10;
  perspective: 1000px;
  transform: translateZ(-2px);
}
#scene01:after {
  display: block;
  content: "";
  height: 250vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(0.5px);
          backdrop-filter: blur(0.5px);
  position: absolute;
  top: 0;
  left: 0;
}
#scene01 .inner1 {
  height: auto;
  width: auto;
  position: relative;
  top: 200px;
  display: flex;
}
#scene01 .inner2 {
  height: auto;
  width: auto;
  position: relative;
  top: 50vh;
  display: flex;
}
#scene01 .content1,
#scene01 .content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Pretendard-light";
  font-size: 18px;
  line-height: 150%;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-left: auto;
}
#scene01 .content2 {
  margin-right: auto;
}
#scene01 .poster1 {
  width: 490px;
  height: 617px;
  background: url(../images/sect1/휘트니2.png) no-repeat 0 0/contain;
  position: relative;
  z-index: 1;
}
#scene01 .poster2 {
  width: 550px;
  height: 690px;
  background: url(../images/sect1/릴리로즈2.png) no-repeat 0 0/contain;
  position: relative;
  z-index: 1;
}
#scene01 .highlight {
  width: 480px;
  height: 100px;
  background: url(../images/sect1/by-white.png) no-repeat -30px 57%/cover;
}

#scene02 #scene02_video {
  position: fixed;
  top: 0;
  z-index: 0;
  opacity: 0.6;
}
#scene02 .trigger-box-2 {
  z-index: 1;
}
#scene02 .page01 {
  width: 100vw;
  display: flex;
  align-items: center;
}
#scene02 .page01 .inner {
  display: flex;
  gap: 175px;
  align-items: center;
}
#scene02 .page01 .title {
  position: relative;
}
#scene02 .page01 .tit {
  font-family: "couture-it";
  font-size: 65px;
  color: #fff;
}
#scene02 .page01 .deco {
  position: absolute;
  top: 24%;
  right: -110px;
  width: 192px;
  height: 122px;
  background: url("../images/sect2/jennie.png") no-repeat 0 0/cover;
}
#scene02 .page01 .cont {
  font-family: "Pretendard-thin";
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
#scene02 .page02 {
  width: 900px;
  position: relative;
}
#scene02 .page02 .butterfly1 {
  position: absolute;
  top: 40%;
  left: -1%;
  width: 253px;
  height: 273px;
  background: url(../images/sect2/butterfly3-white.png) no-repeat 0 0/cover;
  opacity: 0.8;
}
#scene02 .page02 .butterfly2 {
  position: absolute;
  top: 60%;
  left: -17%;
  width: 340px;
  height: 330px;
  background: url(../images/sect2/butterfly2-white.png) no-repeat 0 0/cover;
  opacity: 0.5;
}
#scene02 .page03 {
  width: 3000px;
  position: relative;
  background: #000;
}
#scene02 .page03 .old-house {
  position: absolute;
  top: 58%;
  width: 597px;
  height: 420px;
  background: url(../images/sect2/한옥-white.png) no-repeat 0 0/cover;
  opacity: 0.3;
}
#scene02 .page03 .jennie-img02 {
  width: 970px;
  height: 628px;
  background: url(../images/sect2/제니2.png) no-repeat 0 0/cover;
  margin-left: 600px;
  position: relative;
}
#scene02 .page03 .jennie-img02:before {
  content: "";
  display: block;
  width: 220px;
  height: 236px;
  background: url(../images/sect2/butterfly3-white.png) no-repeat 0 0/cover;
  opacity: 0.8;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: -200px;
}
#scene02 .page03 .set {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 800px;
  position: absolute;
  top: 10px;
  left: 1780px;
  justify-content: end;
  gap: 20px;
  padding-bottom: 100px;
}
#scene02 .page03 .cont {
  width: 685px;
  height: 204px;
  word-wrap: normal;
  word-break: keep-all;
  font-family: "Pretendard-thin";
  font-size: 30px;
  line-height: 150%;
  color: #fff;
}
#scene02 .page03 .jennie-img03 {
  width: 680px;
  height: 380px;
  background: url(../video/JENNIE-trim02.gif) no-repeat 0 0/cover;
}
#scene02 .page05 .jennie-img04 {
  height: 100vh;
  background: url(../images/sect2/제니-profile.mp4) no-repeat 0 0/cover;
}/*# sourceMappingURL=comm.css.map */